body{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
}
h3{
    margin-left: 15px;
    color: rgb(46, 46, 136);
}
div{
    margin:10px;
}

#submit{
    background-color:rgb(46, 46, 136);
    color:azure;
    padding: 10px;
}